html {
    line-height: 0;
}
body{   
    margin: 0;
}
div {
    display: inline-block;
    margin: 0;
    width: 3%;
    height: 15px;
}

div:nth-child(odd){
    background-color: white;
    transition: background-color 1s;
}
div:nth-child(odd):hover{
    background-color: black;
}

div:nth-child(even){
    background-color: black;
    transition: background-color 1s;
}
div:nth-child(even):hover{
    background-color: white;
}
